@import '../../../css-site/header.css';
@import '../../../css-site/global.css';
@import '../../../css-site/root.css';

/*quiz design*/


.oculto {
    display: none;
}

body{
    background-color: #f1f1f1;
    height: 100vh;
}

.caixaQuiz {
    background: url(../../../images/ilustrações/Ilustração-quiz-efeito-estufa.svg)    right bottom no-repeat;
    background-size: contain;
    padding: 0;
    padding-top: 5rem;
    margin-bottom: 4rem;
    height: 120%;
}

.header-content {
    display: flex;
    align-items: center;
}
.quiz {
    display: flex;
    margin-left: 5rem;
}

.titulo-quiz{
    margin-top: 3.5rem;;
}

.quiz-esquerda {
    max-width: 47rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-esquerda h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: var(--h1-estufa);
    text-align: center;
} 

.caixa-quiz {
    background-color: var(--background-conteudo-quiz-estufa);
    display: flex;
    align-items: left;
    flex-direction: column;
    border-radius: 10px;
    padding: 2rem;
    font-weight: 600;
    text-align: justify;
}


.botao {
    background-color: #fff;
    color: #000;
    display: block;
    padding: 10px;
    width: 42rem;
    border-radius: 5px;
    margin: 0.625rem;
    text-align: left;
    font-size: 1rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.container-respostas {
    padding-top: 3rem;
}

.resposta-quiz{
    display: flex;
    justify-content: center;
}

.resposta-quiz button{
    text-transform: uppercase;
    border: none;
    color: #fff;
    background-color: var(--cor-botao-quiz-efeito-estufa);
    border-radius: 5px;
    margin-top: 3rem;
    width: 25rem;
    height: 3.75rem;
    font-weight: 600;
    
}

.quiz-direita {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: 10rem;
    top: 50%;
}



.grade-numeros {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
}

.questoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 34vh;
    right: 5vh;
    height: 10.625rem;
    width: 18.125rem;
    background-color: #f1f1f1;
    border-radius: 10px;
    -webkit-box-shadow: -1px 14px 26px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 14px 26px -11px rgba(0,0,0,0.75);
    box-shadow: -1px 14px 26px -11px rgba(0,0,0,0.75);

}

.questoes h4 {
    margin-bottom: 1rem;
}

.numeros {
    background-color: #ccc;
    height: 30px;
    width: 45px;
    margin-bottom: .7rem;
    margin-left: .3rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding-left: 5px;
    border-radius: 5px;
    font-weight: 500;
}

.grade-respostas p {
    height: 30px;
    width: 20px;
    padding-top: 3px;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
}



.explicacao-questao{
    position: absolute;
    top: 70vh;
    right: 5vh;
    background-color: var(--background-explicacao-quiz-efeito-estufa);
    border-radius: 8px;
    max-width: 30rem;
    justify-content: flex-end;
    color: var(--texto-quiz-efeito-estufa);
    transition: all .5s ease;
    margin-top: auto;
}

.explicacao-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--header-explicacao-quiz-efeito-estufa);
    height: 70px;
    border-radius: 8px;
}

.linhaq {
    margin-top: 10px;
    width: 150px;
    border-bottom: 3px solid var(--linha-explicacao-efeito-estufa);
}

#botaoLinhaq {
    width: 100px;
    margin-bottom: 30px;
}


.explicacao-questao h3 {
    padding: 20px;
    font-size: 1.4rem;
}

.explicacao-questao p {
    padding-bottom: 2rem;
}

.explicacao-texto {
    padding: 0 20px ;
    font-weight: 500;
}


.questoes-corretas{
    background-color: #50CF59;
}
  

/* end quiz design*/


.Quiz-final {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.fim {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.fim-conteudo {
    background-color: #fff;
    width: 450px;
    border-radius: 5px;
    padding-bottom: 2rem;
}

.fim-respostas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 30px;
}

.fim-respostas a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 500;
}

.correto {
    color: #fff;
    background-color: #50CF59;
    font-weight: bold;
    transition: all .5s ease;
}
  
.incorreto {
    color: #fff;
    background-color: #BD1B1B;
    transition: all .5s ease;
}



.texto-fim {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-transform: uppercase;
    color: #172B26;
    font-size: 1.5rem;
}

.fim-botoes {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.fim-botoes button {
    margin: 20px;
    height: 65px;
    width: 300px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: var(--background-botao-final-quiz-efeito-estufa);
    cursor: pointer;
}

#fora {
    border: 3px solid var(--background-botao-final-quiz-efeito-estufa);
    background-color: transparent;
    
}

.oculto {
    display: none;
}