@import '../../../css-site/header.css';
@import '../../../css-site/global.css';
@import '../../../css-site/root.css';

body {
    background-color: var(--background-color-desmatamento);
}

p {
    font-weight: 500;
    font-size: 1.125rem;
}

.desmat {
    padding-top: 10%;
    padding-inline: 0;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
}

.titulo{
    display: flex;
    justify-content: center;
}

h1 {
    color: #50CF59;
    font-size: 3.1875rem;
    margin-bottom: 1.25rem;
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;

}

.imagem img {
    width: 23.75rem;
    height: auto;
    margin-right: 3.25rem;
}

.imagem p {
    color: #000;
    margin-right: 15%;
    font-weight: 500;
}

.icone {
    position: absolute;
    align-items: center;
}
