@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0F7668;  /*mudar para a cor do amatec*/
    padding: 1.375rem 5%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
    z-index: 3;
}

.logo {
    color: var(--text-color);
    font-size: 2.1875rem;
    font-weight: 800;
    letter-spacing: 1px;
}

.logo span {
  color: #A8CA32;  
}

.listaNav {
    display: flex;
}

.listaNav li {
    text-transform: uppercase;
}

.listaNav a {
   color: #82C27C;
   font-size: 1.0625rem;
   font-weight: bold;
   margin: 0 1.5625rem;
   transition: all .45s ease;
   
}

.listaNav a:hover {
    color: #C6FFC1;
}

.listaNav a.ativo{
    color: #C6FFC1;  /*colocar a cor do lugar selecionado amatec*/
    text-decoration: none;
    background-image: linear-gradient(to right,#C6FFC1, #C6FFC1);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 3px;
}

#icone-menu {
    font-size: 2.1875rem;
    color:#82C27C ;
    z-index: 10001;
    cursor: pointer;
    margin-left: 1.5625rem;
    display: none; /*display none faz parecer que nao tem nada ali, meio que "esconde"*/
}


section {
  padding: 10rem 15% 7.5rem;  
}